div{
  display:inline-block;
}

@keyframes move{
  0% { transform: rotate(-15deg); }
  50% { transform: rotate(15deg); }
  100% { transform: rotate(-15deg); }
}

@keyframes heightAnim {
  0% {height: 40px;top: 15px;}
  50% {height: 1px;top:33px;}
  100% {height: 40px;top:15px;}
}

@keyframes topAnim {
  0% {top: 0px;}
  50% {top:-18px}
  100% {top:0px;}
}

.animate{
  animation: heightAnim 3s;
}
.animate3{
  animation: topAnim 3s;
}

.body{
  top: 50px;
  left: 50px;
  position:relative;
  background-color: blue;
  border-radius: 50px/100px;
  width: 100px;
  height: 200px;
}

.head{
  position: relative;
  left: -5px;
  width: 110px;
  height: 90px;
  background-color: #55e;
  border-radius: 55px/45px;
  animation: move infinite 10s;
}

.hands{
  position:absolute;
  top:75px;
  left: -15px;
  background-color: #55e;
  border-radius: 25px/50px;
  width: 50px;
  height: 100px;
}

.hands2{
  position:absolute;
  top:75px;
  left: 65px;
  background-color: #55e;
  border-radius: 25px/50px;
  width: 50px;
  height: 100px;
}

.body2{
  position:absolute;
  top: 5px;
  left: 10px;
  background-color: #33f;
  border-radius: 40px/90px;
  width: 80px;
  height: 180px;
}

.eyes{
    position:absolute;
    top: 15px;
    background-color: #fff;
    border-radius: 28px/28px;
    width: 40px;
    height: 40px;
    border: 4px solid black;
    overflow: hidden;
}

.ineyes{
  position:absolute;
  background-color: #fff;
  border-radius: 25px/25px;
  width: 15px;
  height: 15px;
  border: 10px solid black;
}

.hear{
  position:absolute;
  top: -25px;
  width: 0;
  height: 0;
  border-bottom: 20px solid #55e;
  border-top: 30px solid transparent;
}

.tck1{
  position:absolute;
  top: 100px;
  left: 15px;
  background-color: #dd0;
  border-radius: 5px;
  width: 10px;
  height: 10px;
}

.tck2{
  position:absolute;
  top: 100px;
  left: 30px;
  background-color: #dd0;
  border-radius: 5px;
  width: 10px;
  height: 10px;
}

.tck3{
  position:absolute;
  top: 100px;
  left: 45px;
  background-color: #dd0;
  border-radius: 5px;
  width: 10px;
  height: 10px;
}

.tck4{
  position:absolute;
  top: 100px;
  left: 60px;
  background-color: #dd0;
  border-radius: 5px;
  width: 10px;
  height: 10px;
}

.tck5{
  position:absolute;
  top: 120px;
  left: 30px;
  background-color: #dd0;
  border-radius: 5px;
  width: 10px;
  height: 10px;
}

.tck6{
  position:absolute;
  top: 120px;
  left: 45px;
  background-color: #dd0;
  border-radius: 5px;
  width: 10px;
  height: 10px;
}

.foot1{
    position:absolute;
    top: 190px;
    left: 30px;
    background-color: #321;
    border-radius: 5px/10px;
    width: 6px;
    height: 20px;
}

.foot2{
    position:absolute;
    top: 190px;
    left: 35px;
    background-color: #321;
    border-radius: 5px/10px;
    width: 6px;
    height: 20px;
}

.foot3{
    position:absolute;
    top: 190px;
    left: 40px;
    background-color: #321;
    border-radius: 5px/10px;
    width: 6px;
    height: 20px;
}

.foot4{
    position:absolute;
    top: 190px;
    left: 55px;
    background-color: #321;
    border-radius: 5px/10px;
    width: 6px;
    height: 20px;
}

.foot5{
    position:absolute;
    top: 190px;
    left: 60px;
    background-color: #321;
    border-radius: 5px/10px;
    width: 6px;
    height: 20px;
}

.foot6{
    position:absolute;
    top: 190px;
    left: 65px;
    background-color: #321;
    border-radius: 5px/10px;
    width: 6px;
    height: 20px;
}

.inhear{
  background-color: #dd0;
  position:absolute;
  top: 5px;
  width: 5px;
  height:10px;

}

.mounth{
    transform:rotate(45deg);
    position:absolute;
    top: 60px;
    left: 45px;
    width: 25px;
    height: 25px;
    background-color: #dd0;
}

.mounth::after{
  content:"";
    transform:rotate(-45deg);
    position:absolute;
    top: 8px;
    left: 5px;
    width: 0;
    height: 0;
    border-top: 30px solid #dd0;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
}
